/* --------------- основные настройки ---------*/

*{ 
	margin: 0; /* обнуление внешних отступов */
	padding: 0; /* обнуление внутренних отступов */
	border: none; /* обнуление границ у элементов */
    font-family: sans-serif; /* установлен шрифт всего сайта */
}

/* --------------- шапка сайта ---------*/

.header_color {
    background-color: #000;
    color: #fff;
}

